<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casino Cashier Operations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cashier_operations.css') }}">
</head>
<body>
    <!-- Elemento audio per la musica -->
    <audio id="background-music" src="{{ url_for('static', filename='music/Jazzy Smile.mp3') }}" controls loop hidden></audio>

    <div class="overlay"></div>
    <div class="content-wrapper">
        <header>
            <h1>Welcome to the cashier, {{ username }}!</h1>
            <form action="{{ url_for('casino_home') }}" method="get">
                <input type="submit" value="Back to Casino Home">
            </form>
        </header>
        <main>
            <div id="error-message" class="error-message" style="display: none;">
                <p id="error-text"></p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Color</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody id="chip-table-body">
                    <tr>
                        <td>white</td>
                        <td>$1</td>
                    </tr>
                    <tr>
                        <td>red</td>
                        <td>$5</td>
                    </tr>
                    <tr>
                        <td>blue</td>
                        <td>$10</td>
                    </tr>
                    <tr>
                        <td>green</td>
                        <td>$25</td>
                    </tr>
                    <tr>
                        <td>black</td>
                        <td>$100</td>
                    </tr>
                    <tr>
                        <td>purple</td>
                        <td>$500</td>
                    </tr>
                    <tr>
                        <td>yellow</td>
                        <td>$1000</td>
                    </tr>
                    <tr>
                        <td>pink</td>
                        <td>$5000</td>
                    </tr>
                    <tr>
                        <td>light blue</td>
                        <td>$10000</td>
                    </tr>
                </tbody>
            </table>
            
            <!-- Rettangolo verde dopo le fiches -->
            <div class="green-rectangle"></div>

            <!-- Tabella per il denaro totale e il denaro rimanente -->
            <table>
                <tbody>
                    <tr>
                        <td>Total Money</td>
                        <td id="total-money">${{ total_money }}</td> <!-- Segnaposto per il totale denaro -->
                    </tr>
                    <tr>
                        <td>Remaining Money</td>
                        <td id="remaining-money">${{ remaining_money }}</td> <!-- Segnaposto per il denaro rimanente -->
                    </tr>
                </tbody>
            </table>
            
            <section>
                <!-- Form per la conversione da denaro a fiches -->
                <form id="convert-form" action="{{ url_for('convert_to_chips') }}" method="post" onsubmit="return handleFormSubmit(event, this)">
                    <label for="amount">Enter the amount to convert to chips:</label>
                    <input type="number" id="amount" name="amount" min="0" required><br>
                    <select id="chip-color" name="chip-color" class="chip-select" required>
                        <option value="" disabled selected>Select the color of chips you want:</option>
                        <option value="white">white</option>
                        <option value="red">red</option>
                        <option value="blue">blue</option>
                        <option value="green">green</option>
                        <option value="black">black</option>
                        <option value="purple">purple</option>
                        <option value="yellow">yellow</option>
                        <option value="pink">pink</option>
                        <option value="light blue">light blue</option>
                    </select><br>
                    <input type="submit" value="Convert">
                </form>
            </section>
            
            <!-- Form per la riconversione di tutte le fiches in denaro -->
            <section>
                <form action="/reconvert" method="post" onsubmit="return handleFormSubmit(event, this)">
                    <p>Click the button below to convert all chips back to money.</p>
                    <input type="submit" value="Reconvert All Chips">
                </form>
            </section>
            
            <!-- Form per aggiornare il denaro totale -->
            <section>
                <form action="/update_total_money" method="post" onsubmit="return handleFormSubmit(event, this)">
                    <select id="payment_method" name="payment_method" class="chip-select">
                        <option value="" disabled selected>Select your payment method:</option>
                        <option value="visa">Visa</option>
                        <option value="mastercard">MasterCard</option>
                        <option value="paypal">PayPal</option>
                        <option value="skrill">Skrill</option>
                        <option value="neteller">Neteller</option>
                        <option value="bitcoin">Bitcoin (BTC)</option>
                        <option value="paysafecard">Paysafecard</option>
                        <option value="bank_transfer">Bank Transfer</option>
                        <option value="apple_pay">Apple Pay</option>
                        <option value="google_pay">Google Pay</option>
                    </select>
                    <label for="total-money">Update Total Money:</label><br>
                    <input type="number" id="total-money-input" name="total_money" min="0"><br>
                    <input type="submit" value="Update">
                </form>
            </section>
            
            <!-- Form per cancellare tutti i dati -->
            <section>
                <form action="/clear_all_data" method="post" onsubmit="return handleFormSubmit(event, this)">
                    <p>Click the button below to clear all data.</p>
                    <input type="submit" value="Clear All Data">
                </form>
            </section>
        </main>
        <footer>
            <form action="/user_dashboard">
                <input type="submit" value="Go to User Dashboard">
            </form>
        </footer>
    </div>

    <!-- Script JavaScript per il controllo della musica e dei messaggi di errore -->
    <script>
        setTimeout(function() {
            var errorMessage = document.querySelector('.error-message');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 5000);

        // Funzione per avviare la musica
        function playBackgroundMusic() {
            var backgroundMusic = document.getElementById('background-music');
            if (backgroundMusic.paused) {
                backgroundMusic.play();
            }
        }

        // Avvia la musica quando la pagina viene caricata
        window.addEventListener('load', playBackgroundMusic);

        // Rileva quando l'utente torna indietro e riprende la riproduzione della musica
        window.addEventListener('pageshow', function(event) {
            if (event.persisted) {
                playBackgroundMusic();
            }
        });

        // Funzione per gestire la sottomissione del form senza ricaricare la pagina
        function handleFormSubmit(event, form) {
            event.preventDefault();
            var formData = new FormData(form);
            fetch(form.action, {
                method: form.method,
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error_message) {
                    showErrorMessage(data.error_message);
                } else {
                    // Aggiorna le tabelle con i nuovi dati
                    updateTables(data);
                }
            })
            .catch(error => console.error('Error:', error));
            return false;
        }

        // Imposta i messaggi di errore personalizzati in inglese
        document.querySelectorAll('input[required], select[required]').forEach(function(input) {
            input.addEventListener('invalid', function(event) {
                event.target.setCustomValidity('Please select an item from the list.');
            });

            input.addEventListener('input', function(event) {
                event.target.setCustomValidity('');
            });
        });

        // Funzione per mostrare il messaggio di errore
        function showErrorMessage(message) {
            var errorMessage = document.getElementById('error-message');
            var errorText = document.getElementById('error-text');
            errorText.innerHTML = message;
            errorMessage.style.display = 'block';
            setTimeout(function() {
                errorMessage.style.display = 'none';
            }, 5000);
        }

        // Funzione per aggiornare le tabelle con i nuovi dati
        function updateTables(data) {
            // Aggiorna la tabella dei colori delle fiches
            var chipTableBody = document.getElementById('chip-table-body');
            var chipColors = ["white", "red", "blue", "green", "black", "purple", "yellow", "pink", "light blue"];
            for (var i = 0; i < chipColors.length; i++) {
                var chipColor = chipColors[i];
                var valueCell = chipTableBody.querySelector('tr:nth-child(' + (i + 1) + ') td:nth-child(2)');
                valueCell.textContent = '$' + data.value_of_chips[chipColor];
            }

            // Aggiorna la tabella del denaro totale e rimanente
            var totalMoneyCell = document.getElementById('total-money');
            totalMoneyCell.textContent = '$' + data.total_money;
            var remainingMoneyCell = document.getElementById('remaining-money');
            remainingMoneyCell.textContent = '$' + data.remaining_money;
        }
    </script>
</body>
</html>