<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casino Cashier Operations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cashier_dashboard.css') }}">
</head>
<body>
    <!-- Elemento audio per la musica -->
    <audio id="background-music" src="{{ url_for('static', filename='Musica_per_il_Poker/Jazzy Smile.mp3') }}" controls loop hidden></audio>

    <div class="overlay"></div>
    <div class="content-wrapper">
        <header>
            <h1>Welcome to the Cashier!</h1>
            <form action="/casino_home">
                <input type="submit" value="Go to Casino Home">
            </form>
        </header>
        <main>
            {% if error_message %}
            <div class="error-message">{{ error_message }}</div>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>Color</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chip_color, chip_value in value_of_chips.items() %}
                    <tr>
                        <td>{{ chip_color }}</td>
                        <td>${{ chip_value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <!-- Rettangolo verde dopo le fiches -->
            <div class="green-rectangle"></div>

            <!-- Tabella per il denaro totale e il denaro rimanente -->
            <table>
                <tbody>
                    <tr>
                        <td>Total Money</td>
                        <td>${{ total_money }}</td> <!-- Segnaposto per il totale denaro -->
                    </tr>
                    <tr>
                        <td>Remaining Money</td>
                        <td>${{ remaining_money }}</td> <!-- Segnaposto per il denaro rimanente -->
                    </tr>
                </tbody>
            </table>
            
            <section>
                <!-- Form per la conversione da denaro a fiches -->
                <form action="/convert_to_chips" method="post">
                    <label for="amount">Enter the amount to convert to chips:</label>
                    <input type="number" id="amount" name="amount" min="0"><br>
                    <select id="chip-color" name="chip-color" class="chip-select">
                        <option value="" disabled selected>Select the color of chips you want:</option>
                        {% for chip_color, chip_value in value_of_chips.items() %}
                        <option value="{{ chip_color }}">{{ chip_color }}</option>
                        {% endfor %}
                    </select><br>
                    <input type="submit" value="Convert">
                </form>
            </section>
            
            <!-- Form per la riconversione di tutte le fiches in denaro -->
            <section>
                <form action="/reconvert" method="post">
                    <p>Click the button below to convert all chips back to money.</p>
                    <input type="submit" value="Reconvert All Chips">
                </form>
            </section>
            
            <!-- Form per aggiornare il denaro totale -->
            <section>
                <form action="/update_total_money" method="post">
                    <input type="hidden" id="remaining-money" name="remaining_money" value="{{ remaining_money }}">
                    <label for="total-money">Update Total Money:</label><br>
                    <input type="number" id="total-money" name="total_money" min="0"><br>
                    <input type="submit" value="Update">
                </form>
            </section>
            
            <!-- Form per cancellare tutti i dati -->
            <section>
                <form action="/clear_all_data" method="post">
                    <p>Click the button below to clear all data.</p>
                    <input type="submit" value="Clear All Data">
                </form>
            </section>
        </main>
        <footer>
            <form action="/user_dashboard">
                <input type="submit" value="Go to User Dashboard">
            </form>
        </footer>
    </div>

    <!-- Script JavaScript per il controllo della musica -->
    <script>
        setTimeout(function() {
            var errorMessage = document.querySelector('.error-message');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 5000);

        // Funzione per avviare la musica
        function playBackgroundMusic() {
            var backgroundMusic = document.getElementById('background-music');
            if (backgroundMusic.paused) {
                backgroundMusic.play();
            }
        }

        // Avvia la musica quando la pagina viene caricata
        window.addEventListener('load', playBackgroundMusic);

        // Rileva quando l'utente torna indietro e riprende la riproduzione della musica
        window.addEventListener('pageshow', function(event) {
            if (event.persisted) {
                playBackgroundMusic();
            }
        });
    </script>
</body>
</html>