<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta names="viewport" content="width=device-width, initial-scales=1.0">
    <title>Casino Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/casino_home.css') }}">
</head>
<body>
    <audio id="background-music" src="{{ url_for('static', filename='music/Jazzy Smile.mp3') }}" controls loop hidden></audio>
    
    <div class="account-icon">
        <a href="#" id="account-link">
            <img src="{{ url_for('static', filename='user_icon.png') }}" alt="Account Icon">
        </a>
    </div>
    
    <div class="games">
        <!-- Giochi di Carte -->
        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/blackjack.jpg') }}" alt="Blackjack">
            <p>Blackjack</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>
        
        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/caribbean_stud_poker.jpg') }}" alt="Caribbean Stud Poker">
            <p>Caribbean Stud Poker</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/poker_texas_holdem.jpg') }}" alt="Poker Texas Hold'em">
            <p>Poker Texas Hold'em</p>
            <button onclick="window.location.href='{{ url_for('poker_rules') }}';">Play</button>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/three_card_poker.jpeg') }}" alt="Three Card Poker">
            <p>Three Card Poker</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/pai_gow_poker.jpeg') }}" alt="Pai Gow Poker">
            <p>Pai Gow Poker</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/red_dog.jpeg') }}" alt="Red Dog">
            <p>Red Dog</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/let_it_ride.jpeg') }}" alt="Let It Ride">
            <p>Let It Ride</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/war.jpeg') }}" alt="War">
            <p>War</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <!-- Giochi di Dadi -->
        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/crabs.jpg') }}" alt="Craps">
            <p>Craps</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/sic_bo.png') }}" alt="Sic Bo">
            <p>Sic Bo</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <!-- Giochi di Roulette -->
        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/american_roulette.jpg') }}" alt="Roulette Americana">
            <p>American Roulette</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/french_roulette.jpeg') }}" alt="Roulette Francese">
            <p>French Roulette</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <!-- Slot Machine -->
        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/video_slot.jpg') }}" alt="Video Slot">
            <p>Video Slot</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/progressive_slot.jpeg') }}" alt="Progressive Slot">
            <p>Progressive Slot</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <!-- Video Poker -->
        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/video_poker.jpg') }}" alt="Video Poker">
            <p>Video Poker</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/jacks_or_better.jpeg') }}" alt="Jacks or Better">
            <p>Jacks or Better</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/deuces_wild.jpg') }}" alt="Deuces Wild">
            <p>Deuces Wild</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/joker_poker.jpg') }}" alt="Joker Poker">
            <p>Joker Poker</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <!-- Giochi di Lotteria -->
        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/keno.jpeg') }}" alt="Keno">
            <p>Keno</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <!-- Giochi di Ruota -->
        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/big_six_wheel.png') }}" alt="Big Six Wheel">
            <p>Big Six Wheel</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/dream_catcher.jpg') }}" alt="Dream Catcher">
            <p>Dream Catcher</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <!-- Giochi di Baccarat -->
        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/baccarat.jpeg') }}" alt="Baccarat">
            <p>Baccarat</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/punto_banco.jpeg') }}" alt="Punto Banco">
            <p>Punto Banco</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/mini_baccarat.jpeg') }}" alt="Mini Baccarat">
            <p>Mini Baccarat</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <!-- Giochi Sportivi -->
        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/virtual_sports.jpg') }}" alt="Virtual Sports">
            <p>Virtual Sports</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/fantasy_sports.jpg') }}" alt="Fantasy Sports">
            <p>Fantasy Sports</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>
        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/e_sports.png') }}" alt="E-Sports">
            <p>E-Sports</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/horse_racing.jpeg') }}" alt="Horse Racing">
            <p>Horse Racing</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>

        <div class="game">
            <img src="{{ url_for('static', filename='casino_games_photos/greyhound_racing.jpg') }}" alt="Greyhound Racing">
            <p>Greyhound Racing</p>
            <button onclick="showErrorMessage('The selected game is not added yet.<br>It is under development.')">Play</button>
        </div>

        <div id="error-message" class="error-message" style="display: none;">
            <p id="error-text"></p>
        </div>
        
        <!-- Cassiere -->
        <div class="game">
            <img src="{{ url_for('static', filename='cashier.webp') }}" alt="Cashier">
            <p>Cashier</p>
            <button onclick="window.location.href='{{ url_for('cashier_dashboard') }}';">Go to the Cashier</button>
        </div>
    </div>
    <script>
        // Funzione per avviare la musica
        function playBackgroundMusic() {
            var backgroundMusic = document.getElementById('background-music');
            if (backgroundMusic.paused) {
                backgroundMusic.play().catch(function(error) {
                    console.log('Autoplay was prevented:', error);
                });
            }
        }

        // Avvia la musica quando la pagina viene caricata
        window.addEventListener('load', playBackgroundMusic);

        // Rileva quando l'utente torna indietro e riprende la riproduzione della musica
        window.addEventListener('pageshow', function(event) {
            if (event.persisted) {
                playBackgroundMusic();
            }
        });

        // Funzione per mostrare un messaggio di errore
        function showErrorMessage(message) {
            var errorMessage = document.getElementById('error-message');
            var errorText = document.getElementById('error-text');
            errorText.innerHTML = message;
            errorMessage.style.display = 'block';
            setTimeout(function() {
                errorMessage.style.display = 'none';
            }, 5000); // Nasconde il messaggio dopo 5 secondi
        }

        // Funzione per mostrare un messaggio di errore e reindirizzare alla pagina di registrazione
        function showErrorMessageAndRedirect(message) {
            var errorMessage = document.getElementById('error-message');
            var errorText = document.getElementById('error-text');
            errorText.innerHTML = message;
            errorMessage.style.display = 'block';
            setTimeout(function() {
                errorMessage.style.display = 'none';
                window.location.href = "{{ url_for('register') }}";
            }, 5000); // Nasconde il messaggio dopo 5 secondi e reindirizza alla pagina di registrazione
        }

        // Controllo per verificare l'accesso all'account
        window.addEventListener('load', function() {
            var email = "{{ email }}";
            var isAdmin = "{{ is_admin }}";
            var accountLink = document.getElementById('account-link');
            
            if (email || isAdmin === 'True') {
                accountLink.href = "{{ url_for('account', email=email) }}";
            } else {
                accountLink.addEventListener('click', function(event) {
                    event.preventDefault();
                    showErrorMessageAndRedirect('You must be logged in to access the account.');
                });
            }
        });
    </script>
</body>
</html>