<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
</head>
<body>
    <div class="container">
        <h2>Forgot Password</h2>
        <p class="larger-text">Please enter your email address to reset your password.</p>
        <form id="forgot-password-form" action="{{ url_for('forgot_password') }}" method="post">
            <div class="input-container">
                <img src="{{ url_for('static', filename='email.png') }}" alt="Email Icon" style="width:30px;height:30px;">
                <input type="email" placeholder="Email" name="email" required>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
        <form action="{{ url_for('register') }}" method="get">
            <button type="submit" class="btn button-secondary">Go Back</button>
        </form>
        <div id="error-message" class="error-message" style="display: none;">User not found. Please check your email or register for an account.</div>
    </div>

    <audio id="background-music" src="{{ url_for('static', filename='music/Invisible Cities.mp3') }}" controls loop hidden></audio>

    <script>
        document.getElementById('forgot-password-form').addEventListener('submit', function(event) {
            var form = event.target;
            var inputs = form.querySelectorAll('input[required]');

            inputs.forEach(function(input) {
                if (!input.value) {
                    input.setCustomValidity('Please fill out this field.');
                } else {
                    input.setCustomValidity('');
                }
            });

            var emailInput = form.querySelector('input[type="email"]');
            emailInput.addEventListener('invalid', function(event) {
                if (emailInput.validity.typeMismatch) {
                    emailInput.setCustomValidity('Please enter a valid email address.');
                } else if (emailInput.validity.valueMissing) {
                    emailInput.setCustomValidity('Please fill out this field.');
                } else {
                    emailInput.setCustomValidity('');
                }
            });

            emailInput.addEventListener('input', function(event) {
                emailInput.setCustomValidity('');
            });
        });

        // Funzione per avviare la musica
        function playBackgroundMusic() {
            var backgroundMusic = document.getElementById('background-music');
            if (backgroundMusic.paused) {
                backgroundMusic.play().catch(function(error) {
                    console.log('Autoplay was prevented:', error);
                });
            }
        }

        // Avvia la musica quando la pagina viene caricata
        window.addEventListener('load', playBackgroundMusic);

        // Mostra il messaggio di errore e lo nasconde dopo 5 secondi
        function showError(message) {
            var errorMessage = document.getElementById('error-message');
            errorMessage.textContent = message;
            errorMessage.style.display = 'block';
            setTimeout(function() {
                errorMessage.style.display = 'none';
            }, 5000);
        }
    </script>
</body>
</html>