<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <form id="login-form" action="/login" class="container" method="post">
        <h2 style="text-align: center;"><b>Login</b></h2> <!-- Scritta Login in grassetto e centrata -->
        
        <div class="input-container">
            <img src="{{ url_for('static', filename='user_icon.png') }}" alt="User Icon" style="width:30px;height:30px;">
            <input type="email" placeholder="Email" name="email" required>
        </div>
        
        <div class="input-container">
            <img src="{{ url_for('static', filename='lock_icon.png') }}" alt="Lock Icon" style="width:30px;height:30px;">
            <input type="password" placeholder="Password" name="psw" required>
        </div>
        
        <button type="submit" class="btn">Login</button>
        <a href="{{ url_for('forgot_password') }}" class="forgot-password-link">Forgot password?</a><br>

        <button type="button" class="btn" style="margin-top: 20px;" onclick="window.location.href='{{ url_for('casino_home') }}'">Exit</button>
    </form>

    <audio id="background-music" src="{{ url_for('static', filename='music/Invisible Cities.mp3') }}" controls loop hidden></audio>

    <script>
        document.getElementById('login-form').addEventListener('submit', function(event) {
            var form = event.target;
            var inputs = form.querySelectorAll('input[required]');

            inputs.forEach(function(input) {
                if (!input.value) {
                    input.setCustomValidity('Please fill out this field.');
                } else {
                    input.setCustomValidity('');
                }
            });

            var emailInput = form.querySelector('input[type="email"]');
            emailInput.addEventListener('invalid', function(event) {
                if (emailInput.validity.typeMismatch) {
                    emailInput.setCustomValidity('Please enter a valid email address.');
                } else if (emailInput.validity.valueMissing) {
                    emailInput.setCustomValidity('Please fill out this field.');
                } else {
                    emailInput.setCustomValidity('');
                }
            });

            emailInput.addEventListener('input', function(event) {
                emailInput.setCustomValidity('');
            });
        });

        // Funzione per avviare la musica
        function playBackgroundMusic() {
            var backgroundMusic = document.getElementById('background-music');
            if (backgroundMusic.paused) {
                backgroundMusic.play().catch(function(error) {
                    console.log('Autoplay was prevented:', error);
                });
            }
        }

        // Avvia la musica quando la pagina viene caricata
        window.addEventListener('load', playBackgroundMusic);

        // Imposta i messaggi di errore personalizzati in inglese
        document.querySelectorAll('input[required]').forEach(function(input) {
            input.addEventListener('invalid', function(event) {
                event.target.setCustomValidity('Please fill out this field.');
            });

            input.addEventListener('input', function(event) {
                event.target.setCustomValidity('');
            });
        });
    </script>
</body>
</html>