<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div id="error-message" class="error-message-global" style="display: none;">
        <span id="error-text"></span>
    </div>

    <form id="register-form" class="container" method="post" novalidate>
        <h2 style="text-align: center;"><b>Register</b></h2> <!-- Scritta Register in grassetto e centrata -->
        
        <div class="input-container">
            <img src="{{ url_for('static', filename='user_icon.png') }}" alt="User Icon" style="width:30px;height:30px;">
            <input type="text" placeholder="Name" name="name" required>
            <div class="error-message" id="name-error"></div>
        </div>
        
        <div class="input-container">
            <img src="{{ url_for('static', filename='email.png') }}" alt="Email Icon" style="width:30px;height:30px;">
            <input type="email" placeholder="Email" name="email" required>
            <div class="error-message" id="email-error"></div>
        </div>
        
        <div class="input-container">
            <img src="{{ url_for('static', filename='lock_icon.png') }}" alt="Lock Icon" style="width:30px;height:30px;">
            <input type="password" placeholder="Password" name="password" required>
            <div class="error-message" id="password-error"></div>
        </div>
        
        {% if error_message %}
        <div class="error-message-global">{{ error_message }}</div>
        {% endif %}
        
        <button type="submit" class="btn">Register</button>
        <button type="button" class="btn" style="margin-top: 20px;" onclick="window.location.href='{{ url_for('login') }}'">Already have an account? Log in</button>
        <a href="#" class="forgot-password-link" onclick="forgotPassword()">Forgot password?</a><br>
        <button type="button" class="btn" style="margin-top: 20px;" onclick="window.location.href='{{ url_for('casino_home') }}'">Exit</button>
    </form>

    <audio id="background-music" src="{{ url_for('static', filename='music/Invisible Cities.mp3') }}" controls loop hidden></audio>

    <script>
        document.getElementById('register-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Impedisce il ricaricamento della pagina
            var form = event.target;
            var formData = new FormData(form);
            var inputs = form.querySelectorAll('input[required]');

            inputs.forEach(function(input) {
                if (!input.value) {
                    input.setCustomValidity('Please fill out this field.');
                    input.classList.add('error');
                    showErrorMessage('Please fill out this field.', input);
                } else {
                    input.setCustomValidity('');
                    input.classList.remove('error');
                }
            });

            var emailInput = form.querySelector('input[type="email"]');
            emailInput.addEventListener('invalid', function(event) {
                if (emailInput.validity.typeMismatch) {
                    showErrorMessage('Please include an "@" in the email address. The email address is missing an "@".', emailInput);
                } else if (emailInput.validity.valueMissing) {
                    showErrorMessage('Please fill out this field.', emailInput);
                } else {
                    emailInput.setCustomValidity('');
                }
            });

            emailInput.addEventListener('input', function(event) {
                emailInput.setCustomValidity('');
            });

            fetch('/register', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error_message) {
                    showErrorMessage(data.error_message);
                } else {
                    window.location.href = data.redirect_url;
                }
            })
            .catch(error => console.error('Error:', error));
        });

        // Funzione per avviare la musica
        function playBackgroundMusic() {
            var backgroundMusic = document.getElementById('background-music');
            if (backgroundMusic.paused) {
                backgroundMusic.play().catch(function(error) {
                    console.log('Autoplay was prevented:', error);
                });
            }
        }

        // Avvia la musica quando la pagina viene caricata
        window.addEventListener('load', playBackgroundMusic);

        // Imposta i messaggi di errore personalizzati in inglese
        document.querySelectorAll('input[required], select[required]').forEach(function(input) {
            input.addEventListener('invalid', function(event) {
                event.target.setCustomValidity('Please fill out this field.');
            });

            input.addEventListener('input', function(event) {
                event.target.setCustomValidity('');
            });
        });

        // Funzione per mostrare il messaggio di errore
        function showErrorMessage(message, input) {
            var errorMessage = document.getElementById('error-message');
            var errorText = document.getElementById('error-text');
            errorText.innerHTML = message;
            errorMessage.style.display = 'block';
            setTimeout(function() {
                errorMessage.style.display = 'none';
            }, 5000);
        }

        // Funzione per gestire il link "Forgot password?"
        function forgotPassword() {
            var emailInput = document.querySelector('input[name="email"]');
            if (!emailInput.value) {
                showErrorMessage('Please enter your email address to reset your password.');
            } else {
                fetch('/forgot_password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: new URLSearchParams({
                        'email': emailInput.value
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error_message) {
                        showErrorMessage(data.error_message);
                    } else {
                        window.location.href = data.redirect_url;
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        }
    </script>
</body>
</html>