<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
</head>
<body>
    <form action="/reset_password" class="container" method="post">
        <h2 style="text-align: center;"><b>Reset Password</b></h2>
        
        <div class="input-container">
            <img src="{{ url_for('static', filename='email.png') }}" alt="Email Icon" style="width:30px;height:30px;">
            <input type="email" placeholder="Email" name="email" required>
        </div>
        
        <div class="input-container">
            <img src="{{ url_for('static', filename='lock_icon.png') }}" alt="Lock Icon" style="width:30px;height:30px;">
            <input type="password" placeholder="New Password" name="new_password" required>
        </div>
        
        <button type="submit" class="btn">Submit</button>
    </form>

    <audio id="background-music" src="{{ url_for('static', filename='music/Invisible Cities.mp3') }}" controls loop hidden></audio>

    <script>
        // Funzione per avviare la musica
        function playBackgroundMusic() {
            var backgroundMusic = document.getElementById('background-music');
            if (backgroundMusic.paused) {
                backgroundMusic.play().catch(function(error) {
                    console.log('Autoplay was prevented:', error);
                });
            }
        }

        // Avvia la musica quando la pagina viene caricata
        window.addEventListener('load', playBackgroundMusic);
    </script>
</body>
</html>