<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_dashboard.css') }}">
</head>
<body>
    <!-- Elemento audio per la musica -->
    <audio id="background-music" src="{{ url_for('static', filename='music/Jazzy Smile.mp3') }}" controls loop hidden></audio>

    <div class="overlay"></div>
    <div class="content-wrapper">
        <header>
            <h1>Welcome to your exclusive reserved table, {{ username }}!</h1>
            <form action="{{ url_for('cashier_dashboard') }}" method="get">
                <input type="submit" value="Back to Cashier Dashboard">
            </form>
        </header>
        <main>
            <div id="error-message" class="error-message" style="display: none;">
                <p id="error-text"></p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Color</th>
                        <th>Value</th>
                        <th>Quantity</th>
                        <th>Total Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chip_color, quantity in user_chips.items() %}
                    <tr>
                        <td>{{ chip_color }}</td>
                        <td>${{ value_of_chips.get(chip_color, 0) }}</td>
                        <td>{{ quantity }}</td>
                        <td>${{ value_of_chips.get(chip_color, 0) * quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>                
                <tfoot>
                    <tr>
                        <td colspan="3" style="text-align: right;"><strong>Total Money:</strong></td>
                        <td>${{ total_money }}</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: right;"><strong>Remaining Money:</strong></td>
                        <td>{% if remaining_money is defined and remaining_money != 0 %}${{ remaining_money }}{% else %}$0{% endif %}</td>
                    </tr>
                </tfoot>
            </table>

            <!-- Pulsante per riconvertire le fiches in denaro -->
            <form action="/reconvert" method="post" onsubmit="return handleReconvert(event, this)" style="margin-top: 20px;">
                <input type="submit" value="Reconvert Chips to Money">
            </form>

            <!-- Pulsante per cancellare tutti i dati -->
            <form action="/clear_all_data" method="post" onsubmit="return handleFormSubmit(event, this)" style="margin-top: 20px;">
                <input type="submit" value="Clear All Data">
            </form>
        </main>
    </div>

    <!-- Script JavaScript per il controllo della musica -->
    <script>
        // Funzione per avviare la musica
        function playBackgroundMusic() {
            var backgroundMusic = document.getElementById('background-music');
            if (backgroundMusic.paused) {
                backgroundMusic.play();
            }
        }

        // Avvia la musica quando la pagina viene caricata
        window.addEventListener('load', playBackgroundMusic);

        // Rileva quando l'utente torna indietro e riprende la riproduzione della musica
        window.addEventListener('pageshow', function(event) {
            if (event.persisted) {
                playBackgroundMusic();
            }
        });

        // Funzione per gestire la riconversione delle fiches in denaro
        function handleReconvert(event, form) {
            event.preventDefault();
            var formData = new FormData(form);
            fetch(form.action, {
                method: form.method,
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error_message) {
                    showErrorMessage(data.error_message);
                } else {
                    // Aggiorna la pagina con i nuovi dati
                    location.reload();
                }
            })
            .catch(error => console.error('Error:', error));
            return false;
        }

        // Funzione per gestire la sottomissione del form senza ricaricare la pagina
        function handleFormSubmit(event, form) {
            event.preventDefault();
            var formData = new FormData(form);
            fetch(form.action, {
                method: form.method,
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error_message) {
                    showErrorMessage(data.error_message);
                } else {
                    // Aggiorna la pagina con i nuovi dati
                    location.reload();
                }
            })
            .catch(error => console.error('Error:', error));
            return false;
        }

        // Funzione per mostrare il messaggio di errore
        function showErrorMessage(message) {
            var errorMessage = document.getElementById('error-message');
            var errorText = document.getElementById('error-text');
            errorText.innerHTML = message;
            errorMessage.style.display = 'block';
            setTimeout(function() {
                errorMessage.style.display = 'none';
            }, 5000);
        }
    </script>
</body>
</html>