<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_dashboard.css') }}">
</head>
<body>
    <!-- Elemento audio per la musica -->
    <audio id="background-music" src="{{ url_for('static', filename='music/Jazzy Smile.mp3') }}" controls loop hidden></audio>

    <div class="overlay"></div>
    <div class="content-wrapper">
        <header>
            <h1>User Dashboard</h1>
        </header>
        <main>
            <table>
                <!-- Tabella dell'utente -->
                <thead>
                    <tr>
                        <th>Color</th>
                        <th>Value</th>
                        <th>Quantity</th>
                        <th>Total Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chip_color, quantity in user_chips.items() %}
                    <tr>
                        <td>{{ chip_color }}</td>
                        <td>${{ value_of_chips[chip_color] }}</td>
                        <td>{{ quantity }}</td>
                        <td>${{ value_of_chips[chip_color] * quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" style="text-align: right;"><strong>Total Money:</strong></td>
                        <td>${{ total_money }}</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: right;"><strong>Remaining Money:</strong></td>
                        <td>{% if remaining_money is defined and remaining_money != 0 %}${{ remaining_money }}{% else %}$0{% endif %}</td>
                    </tr>
                </tfoot>
            </table>

            <!-- Pulsante per tornare alla tabella del cassiere -->
            <form action="/cashier_dashboard" method="get" style="margin-top: 20px;">
                <input type="submit" value="Back to Cashier Dashboard">
            </form>

            <!-- Pulsante per riconvertire le fiches in denaro -->
            <form action="/reconvert" method="post" style="margin-top: 20px;">
                <input type="submit" value="Reconvert Chips to Money">
            </form>
        </main>
    </div>

    <!-- Script JavaScript per il controllo della musica -->
    <script>
        // Funzione per avviare la musica
        function playBackgroundMusic() {
            var backgroundMusic = document.getElementById('background-music');
            if (backgroundMusic.paused) {
                backgroundMusic.play();
            }
        }

        // Avvia la musica quando la pagina viene caricata
        window.addEventListener('load', playBackgroundMusic);

        // Rileva quando l'utente torna indietro e riprende la riproduzione della musica
        window.addEventListener('pageshow', function(event) {
            if (event.persisted) {
                playBackgroundMusic();
            }
        });
    </script>
</body>
</html>